*{
    margin: 0;
    padding: 0;
}
body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
background: #d6f9ff; /* Old browsers */
background: -moz-linear-gradient(left,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #d6f9ff 0%,#9ee8fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=1 ); /* IE6-9 */

}
.winner{
    color: green;
}
#grad{
    text-transform: uppercase;
    font-size: 3.3rem;
    background: linear-gradient(to right, #f92740 10%, #e22bdf 13%, #4e3dbf 29%, #51dbd2 47%, #51dbd2 47%, #40d32a 64%, #b4bf1e 82%, #7db9e8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#note{
    text-align: center;
    font-size: 2rem;
    color: darkolivegreen;
}